<h1>New game</h1>

<ul>
  <% @letters.each do |letter| %>
    <li><%= letter %></li>
  <% end %>
</ul>

<form action="/score" method="post" data-turbo="false">
  <input type="text" placeholder="Type a word">
  <input type="submit">
</form>
